// Maggie and The Pies

@import '../fonts/inter';
@import 'variables';
@import 'type';
@import 'nav';

:root {
	--body-bg: #{$white};
	--text-color: #{$black};
	--heading-color: #{$black};
	--nav-link-color: #{$black};
	--nav-link-hover-color: #{$theme-dark};
	--link-color: #{$link-color};
	--link-hover-color: #{$link-hover-color};
	--link-hover-decoration-color: #{$theme-light-pink};
	--btn-bg: #{$btn-bg};
	--btn-color: #{$btn-color};
	--btn-hover-color: #{$btn-hover-color};
	--section-bg: #{$section-bg};
	--section-border: 0.125rem solid #{$black};
}

* {
	box-sizing: border-box;

	&:focus{
		&:not(:active) {
			outline-color: $link-color;
			outline: 2px dotted var(--link-color, #{$link-color});
			outline-offset: 2px;
		}

		&:active {
			outline: none;
		}
	}


	&::selection {
		color: $black;
		background-color: $theme-light-yellow;
	}
}

html {
	position: relative;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	color: $text-color;
	color: var(--text-color, $text-color);
	background: $body-bg;
}

.main {
	@include md-min {
		min-height: 100vh;
	}

	&__content {
		position: relative;
		border-top: 1px solid transparent;

		& > article {
			max-width: 100%;
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		color: $text-color;
		color: var(--text-color, $text-color);
		text-align: center;
		background: $nav-bg;

		a {
			color: $black;
			color: var(--nav-link-color, #{rgba($theme-dark, 0.8)});
			text-decoration: none;

			&:hover,
			&:focus {
				color: $theme-dark;
				color: var(--nav-link-hover-color,  #{$theme-dark});
			}
		}
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5
h6, .h6 {
	color: $heading-color;
	color: var(--heading-color, #{$heading-color});
}

a {
	color: $link-color;
	color: var(--link-color, #{$link-color});

	&:hover,
	&:focus {
		color: $link-hover-color;
		color:  var(--link-hover-color, #{$link-hover-color});
	}

	&:not([class]) {
		text-decoration: none;
		border-bottom: 2px dotted $link-color;
	 	border-bottom: 2px dotted var(--link-color, #{$link-color});
		padding-bottom: 0.125em;
		margin-bottom: -0.125em;
		transition: box-shadow $timing--fast $cubic-bezier;

		&:hover,
		&:focus {
			border-bottom: 2px solid rgba($link-hover-color,0.75);
			border-bottom: 2px solid var(--link-hover-decoration-color, #{rgba($link-hover-color,0.75)});
			box-shadow: inset 0 -0.25 rgba($link-hover-color,0.75);
			box-shadow: inset 0 -0.25em var(--link-hover-decoration-color, #{rgba($link-hover-color,0.75)});
		}
	}
}

button,
.button {
	display: inline-block;
	padding: 0.5em 1em;
	margin-bottom: 0.5em;
	white-space: nowrap;
	color: $btn-hover-color;
	color: var(--btn-hover-color, #{$btn-hover-color});
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.125em;
	text-decoration: none;
	border: 2px solid $btn-bg;
	border: 2px solid var(--btn-bg, #{$btn-bg});
	background: var(--btn-color, #{$btn-color});
	transition: background $timing--fast $cubic-bezier;
	cursor: pointer;

	&:hover,
	&:focus {
		color: var(--btn-color, #{$btn-color});
		background: transparent;
	}

	&--outline {
		color: var(--btn-color, #{$btn-color});
		background: transparent;

		&:hover,
		&:focus {
			color: $btn-hover-color;
			color: var(--btn-hover-color, #{$btn-hover-color});
			background: $btn-color;
			background: var(--btn-color, #{$btn-color});
		}
	}
}

select {
	display: inline-block;
	width: auto;
	margin: 0;
	padding: 0.5em 2em 0.5em 1em;
	max-width: 100%;
	font-size: 16px;
	color: $btn-hover-color;
	color: var(--btn-hover-color, #{$btn-hover-color});
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: 0;
	text-transform: none;
	border-radius: 0;
	border: 1px solid $btn-color;
	border: 1px solid var(--btn-color, #{$btn-color});
	background-color: $btn-bg;
	background-color: var(--btn-bg, #{$btn-bg});
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23ffffff'><polygon points='0,0 100,0 50,50'/></svg>");
	background-repeat: no-repeat, repeat;
	background-position: right .5em top 60%, 0 0;
	background-size: .55em auto, 100%;
	appearance: none;
	box-sizing: border-box;

	&::-ms-expand {
		display: none;
	}

	option {
		font-weight: normal;
	}
}

ul.small {
	@include small;
}


/*---------------------- Body Styles -------------------*/
.page {
	position: relative;
	display: block;

	.page__container {
		padding-bottom: 3rem;
	}

	&__container {
		padding: 0 0.25rem;
		position: relative;

		@include md-min {
			padding: 0 1rem;
		}
	}

	&__header {
		//position: sticky;
		top: 1.6428571rem;

		@include lg-max {
			margin-bottom: 1.6428571rem;
		}

		@include xl-min {
			top: 1.625rem;
		}
	}
}

.page__header,
.section-header {
	@include narrow;
	padding: 0 1.25rem;

	@include xl-min {
		padding: 0 2.25rem;
	}

	&__text {
		margin: 0 -1rem;
		padding: 0.25rem 1rem;
		z-index: 1;
		display: inline-block;
		color: $text-color;
		color: var(--text-color, #{$text-color});
		box-shadow: 0.5rem 0.5rem 0 0 $theme-light-yellow;
		border-color: $theme-light-yellow;
		background-color: $theme-yellow;

		i {
			font-style: normal;
		}
	}
}

.panel {
	position: relative;
	padding: 0 1rem;
	margin: 1rem 0;
	@include narrow;
	@include panel;
	border-color: $black;
	box-shadow: 0.5rem 0.5rem 0 0 $black;

	@include xl-min {
		padding: 0 2rem;
	}
}

.examples, .personnel, .shows{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	@include wide;
}

.personnel figure {
	@include md-min {
		-ms-flex: 0 1 24%;
		flex: 0 1 24%;
	}

	img {
		width: 100px;
	}
}

figure{
	position: relative;
	display: inline-block;
	-ms-flex: 0 1 32%;
	flex: 0 1 32%;
	margin: 0.25rem;
	@include panel;
	box-shadow: 0.25rem 0.25rem 0 0 $black;

	@include sm-max {
		flex-basis: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 1rem 0 0 auto;
	}

	h3 {
		margin-top: 0.8125rem;
		margin-bottom: 0.40675rem;
		letter-spacing: -0.050em;
		font-weight: 800;
	}

	h4 {
		margin-top: 0.40675rem;
		margin-bottom: 0.40675rem;
		line-height: 1.21875rem;
	}

	p {
		@include small;
		margin-top: 1rem;
		margin-bottom: 1rem;

		&.location {
			margin-top: 0.40675rem;
			margin-bottom: 0.8125rem;
		}
	}

	ul {
		padding: 0 2rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		@include small;
		list-style-type: square;
	}
}

figcaption{
	margin-top: 0.40675rem;
	margin-bottom: 0.40675rem;
	font-size: 1.25rem;
	letter-spacing: -0.025em;
	font-variant-numeric: tabular-nums;

	&.empty {
		color: $theme-grey;
	}

	@include lg-min {
		font-size: 1.3571429rem;
	}

	small {
		margin-top: 0.5rem;
		display: block;
		font-size: 0.75em;
		line-height: 1.5;
	}
}

details {
	display: block;
	margin: 1rem 0;
	background: $theme-light;

	table td {
		padding: 0.25rem 0.5rem;
	}

	summary {
		padding: 0.5rem 1rem;
		font-weight: 600;
		border: 2px solid $btn-bg;

		&:hover,
		&:focus {
			background: $btn-hover-color;
		}
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}

.print-only {
	display: none !important;
}

@media print{
	:root{
		--body-bg: #ffffff;
		--text-color: #000000;
		--heading-color: #000000;
		--nav-bg: transparent;
		--nav-link-color: #000000;
		--nav-link-hover-color: #000;
		--link-color: inherit;
		--link-hover-color: inherit;
		--link-hover-decoration-color: transparent;
		--btn-bg: #000;
		--btn-color: #000;
		--btn-hover-color: #fff;
		--section-bg: #fff;
		--section-border: 0.125rem solid #000;
	}

	html {
		font-size: 7pt;
	}

	body {
		width: 8.5in;
		margin: 0 auto;
	}

	h1 {
		margin-top: 1rem;
		margin-bottom: 2rem;
		font-size: 4rem;
	}

	.section-header {
		margin-top: 3rem;
		font-size: 3rem;
	}

	.no-print{
		display: none;
	}

	.print-only {
		display: block !important;
	}

	.contact-page {
		display: block;
		margin: 0 0 0.5rem;
		text-align: right;

		&--disclaimer {
			text-align: center;
		}
	}

	.phone {
		margin: 0.5rem 0;
		font-size: 2.35rem;
	}

	.social,
	.copyright {
		display: none;
	}

	.page {
		display: block !important;
		height: auto !important;
	}

	.no-page-break {
		page-break-inside: avoid;
	}

	.panel {
		max-width: 100%;
		margin-left: 1rem;
		margin-right: 1rem;
		page-break-inside: avoid;
		box-shadow: 0.25rem 0.25rem 0 0 $black;
	}

	section {
		box-shadow: none;
	}

	figure {
		box-shadow: 0.125rem 0.125rem 0 0 $black;
	}

	.section-header {
		max-width: 95%;
	}

	.main__header {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		max-width: 95%;
		margin: 0 auto 1rem;
		padding: 0 0.5rem 1rem;
	}

	.logo {
		margin: 0;
		height: 1.27in;
		width: 1.75in;
	}

	.page__header {
		max-width: 95%;

		&__text {
			i {
				font-weight: 700 !important;
				letter-spacing: -0.05em !important;
			}
		}
	}

	a:not([class]) {
		color: inherit;
		border-bottom: 0;
		box-shadow: none;
	}
}